* {
  box-sizing: border-box;
}

p {
  margin-top: 2px;
  margin-left: 20%;
  font-size: 30px;
}

.square5 {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 418px;
  height: 615px;
  /* background-color: rgba(255, 255, 255, 0.248); */
  border-radius: 0%;
  z-index: 1;
}

.window {
  background: #f0c992f8;
  border-radius: 0.5em;
  height: 85%;
  width: 90%;
  bottom: 3.5%;
  right: 5%;
  margin: 2em auto;
  padding-right: 4px;
  overflow: hidden;
  position: absolute;
}

.window::before {
  /* background: linear-gradient(#e8b773 20%, rgba(42, 37, 88, 0)); */
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 2em;
  z-index: 100;
}


/* กรอบข้อ */
.command-area {
  background: #9B6A3A;
  color: #493128;
  padding: 0.3em;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* label {
    line-height: 1em;
    float: left;
    width: 10%;
  } */

input {
  background: #f5d6ab6e;
  border: 0;
  color: inherit;
  float: left;
  font-family: "iannnnn-duckregular";
  transition: 0.5s;
  padding: 0.25em 0.5em;
  width: 100%;
}

/* ขอบกรอบ */
input:focus {
  outline: 1px solid #493128;
}

input::placeholder {
    color: inherit;
}

.right-button-container1 {
    display: flex;
    align-items: center; /* Align buttons vertically */
  }
  
  .button-container1 {
    margin-top: 137%;
    display: flex;
  }
  
  .custom-btn4 {
    /* Done Button */
    margin-left: 105px;
    
  }
  
  .custom-btn5 {
    /* Revision Button */
    margin-left: 40px; /* Adjust the space to your preference */
  }
  
  /* Adjust button styles as needed */
  .custom-btn4,
  .custom-btn5 {
    /* background: linear-gradient(0deg, #a58b65 2%, #e9cda3 100%); */
    color: #493128;
    font-family: "iannnnn-duckregular";
    padding: 0px 16px;
    font-size: 20px;
  }
  